<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">{{page_title}}</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">{{page_title}}</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <!-- <div class="center pull-left">
            <a href="#!/add_product" class="btn btn-danger btn-block waves-effect waves-light">Add Product</a>
            <br><br><br>
        </div> -->
        <div class="center pull-right app-search hidden-sm hidden-xs m-r-10">
            <input type="text" placeholder="Search..." class="form-control"> 
            <a href="">
                <i class="fa fa-search"></i>
            </a> 
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Order Id</th>
                                    <th>Order Date</th>
                                    <th>Order Time</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                               
                                <tr ng-repeat="order in orders">
                                    <td>{{index}}</td>
                                    <td>{{order.id}}</td>
                                    <td>{{order.date}}</td>
                                    <td>{{order.time}}</td>
                                    <td>{{order.amount}}</td>
                                    <td>{{order.status}}</td>
                                    <td><a href="#!/view_order/{{order.id}}" class="btn btn-success">View</a></td>
                                    <td><a href="#" class="btn btn-danger">Cancel</a></td>	
                                </tr>                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2021 &copy; InraBd </footer>
    </div>