<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Products</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Products</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="center pull-left">
            <a href="#!/add_product" class="btn btn-danger btn-block waves-effect waves-light">Add Product</a>
            <br><br><br>
        </div>
        <div class="center pull-right app-search hidden-sm hidden-xs m-r-10">
            <input type="text" placeholder="Search..." class="form-control"> 
            <a href="">
                <i class="fa fa-search"></i>
            </a> 
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Image</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                               
                                <tr ng-repeat="product in products">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.category_name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.qty}}</td>
                                    <td><img src="{{product.image}}" height=50px></td>
                                    <td><a href="/#!/edit_product/{{product.id}}" class="btn btn-success">Edit</a></td>	
                                    <td><button id={{product.id}} ng-click="deleteProduct($event)" href="/#!/edit_product/{{product.id}}" class="btn btn-danger">Delete</button></td>		
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2021 &copy; InraBd </footer>
    </div>