<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
            </li>
            <li>
                <a href="#!/orders" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Orders</a>
            </li>
            <li>
                <a href="#!/products" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Products</a>
            </li>
            <li>
                <a href="#!/add_product" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Product</a>
            </li>
            <li>
                <a href="#!/categories" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Categories</a>
            </li>
            <li>
                <a href="#!/add_category" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Category</a>
            </li>	
                
                                
        </ul>
        
    </div>
    
</div>
